/MDMO_Aug25.py
test_selecfreq.png
selection_frequency_map.png
*.pkl
*.json
*.jsonl
*.png
*.csv
*.pyc
*.html
*.js
*.css
*.woff
*.aux.xml
*agg2.tif
*.jpg
*.log
*idw.tif
*.tex
*.npz
__pycache__/
*.pyc
DEVELOPMENT_TRACKER.md


# pixi environments
.pixi
*.egg-info

ecosystem_lulc_masked.tif.aux.xml
analyze_spatial_agreement.py
sn_dens72.tif
optimization_results_analysis.log
landscape_sensitivity_demo.qmd
setup_check.ipynb
Restoration Optimization_ Results_problems_debugging.pdf
selection_frequency_fg.tif
run_scenarios.py
run_patch_size_experiments.py
run_multi_seed_optimization.py
topo_aggregation.r
test_load.R
test_analysis.r
sn_dens.tif
setup.r
restoclust_overview_Jan.qmd
restoclust_overview.qmd
check_patch_sizes.py
seeds.py
optimization_results_analysis.qmd
opt_results_scan.ipynb

batch_export_runs.py
inspect_costs.py
inspect_x_history.py
compare_pickles.py
assess_agricultural_gains.ipynb
opt_results_comparison_slides.qmd
_inspect_pkl.py
make_cost_raster.py
operator_diagnostics.ipynb
README.md

landscape_condition_anomaly.tif
landscape_condition_anomalyFOR.tif
selection_frequency_fg_aggregated.tif
implementation_cost.tif
eligible_pixels_fg.tif
*drop_*.tif
*global_all.tif
*upper_q75_all.tif
logs/profile_combined_baseline_speedcheck.txt

*.qmd
~$WP3_framework.pptx
logs/profile_combined_grid_speedcheck_fullbern.txt
WP3_framework.pptx
Documentation/archive/WBF_presentation_files/*
*html
*.tif
*.pdf
*.scss
*.ttf
Debugs_tests/_smoke_axis2.py
Documentation/BE_bern.rds
Documentation/map_bern_landuse.R
.quarto/vdoc/.vdoc.2702a178-a164-47d3-af39-931d7435ced0.r
Documentation/CH_switzerland.rds
